.box{
    border: 1px red dotted;
}

body{
    font-family: "Century Gothic",sans-serif;
}

body,ul,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
address{
    font-style: normal;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.main-nav{
    border-bottom: 2px #e1e1e1 solid;
    padding:8px 0px;

}

nav a{
    color: #787c8e;
}

.container{
  width: 800px; 
  
}

/* ? POSITIONING */
.centered{
    margin-left: auto;
    margin-right: auto;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-float::after{
    display: block;
    content: "";
    clear: both;

}
.centered-text{
    text-align: center;
}
/* ? SPACING*/
.ml-20{
    margin-left: 20px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-50{
    margin-bottom: 50px;
}
/* SIZING */
.wt-60{
    width: 65%;
}
.mr-50{
 margin-right: 25px;
}
.wt-100{
    width: 100%;
}
/* .wt-35{
    width: 35%;
} */
/* ? color */
#logo-color{
    color: #FF00FF;
}
.grey{
    color:#787c8e;
}
.dark-background{
    background-color: #222;
}
.white{
    color: white;
}




.darker-background{
    background-color: #171717;
}

.dark-grey{
    color: #666;
}

.white-background{
 background-color: #fff;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.container-fluid{
    width: 100%;
}
.address-text{
    max-width: 250px;
    font-size: 13px;
}
.form-control{
    min-height: 30px;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}
.mailing-list{
    font-size: 13px;
}

.submit{
    font-size: 16px;
    border-radius: 5px;
    background-color: tomato;
    border: none;
    
}